*{
    margin: 0;
    padding: 0;
}


body{
     font-family: "Roboto", sans-serif;
     margin: 0;
     padding: 0;
}

.top-bar{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding: 10px 36px 10px 36px;
 
  font-size:14px;
  border-bottom:1px solid #e5e5e5;
}

.top-bar p{
  margin:0;
  color:#000000;
}

.social{
  display:flex;
  gap:25px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  padding: 4px 20px 4px 20px;
}

.social a i{
width: 1em;
    height: 1em;
}

.social   a:first-child i{
color: #3078C0;

}  

.social   a:nth-child(2) i{
color:#17CCE7;

}  


.social   a:nth-child(3) i{
color:#000000;
;

} 


.social   a:nth-child(4) i{
color:#CE292E
;

} 



.social   a:last-child i{
color:#FF3C3E
;

} 



.social a{
    text-decoration: none;
}

.social img{
  width:16px;
  height:16px;
  opacity:0.8;
  transition:0.3s;
}

.social img:hover{
  opacity:1;
}

.center-bar{
    width: 100%;
    float: left;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
     background: #fff;
}



.top-header {
  width: 100%;
  float: left;
    border-bottom: 1px solid #eee;
}

.container {
  max-width: 1200px;
  margin: auto;
 padding-left: 16px ;
 padding-right: 16px;
  
}


.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.call-icon i{
  font-size: 40px;
  color: #60AD56;
}

.call-text span {
 font-size: 13px;
    font-weight: 500;
  color: #999;
}

.call-text strong {
  display: block;
  font-size: 16px;
  color: #000;
}


.logo {
  width: 33%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img{
  width: 154px;
    height: 32px;
}


.right {
  display: flex;
  align-items: center;
  gap: 21px;
}

.icon {
  font-size: 22px;
  position: relative;
  
}


.icon i{
    color: #000000;
}

.badge small {
  position: absolute;
  top: -8px;
  right: -10px;
  background: red;
  color: #fff;
  font-size: 11px;
 width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
  border-radius: 50%;
}

.price {
  font-size: 16px;
  font-weight: 600;
}


.header {
  background: #fff;
  padding: 20px 0;
  float: left;
  width: 100%;
}

.nav {
  display: flex;
  justify-content: center;
}

.menu {
  display: flex;
  gap: 35px;
  list-style: none;
  align-items: center;
}

.menu li {
  display: flex;
  align-items: center;
  gap: 6px;
}

.menu a {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #000;
}

.menu li.active a {
  color: #6bbf59; 
}
.menu li:hover a{
     color: #6bbf59; 
     transition: .2s;
}

.menu li:hover i{
     color: #6bbf59; 
     transition: .2s;
}



.arrow {
  font-size: 14px;
  color: #000;
}

.menu li.active .arrow {
  color: #6bbf59;
}

.main-benar{
  width: 100%;
  float: left;
}
.in-benar{
  width: 100%;
  float: left;
}


.in-benar .slick-dots{
  height: 11px;
}
.in-benar .slick-dots li{
width: 11px;
height: 11px;
color: rgba(46, 45, 45, 0.811);
border-radius: 50%;
background-color: #ffffff;
}

.in-benar .slick-dots li:hover{
  background-color: #000;
}


.in-benar .slick-dots li {
width: 11px;
}
.in-benar .slick-dots {
    height: 0px;
        bottom: 55px;
}

 .in-benar.slick-dotted.slick-slider {
      margin-bottom: 0;
}



.features {
  width: 100%;
  float: left;
  border-bottom: 1px solid #eee;
  
}

.features-in{
  display: flex;
  align-items: center;
  height: 150px;
  justify-content: space-between;
}


.feature-item {
  display: flex;
  align-items: flex-start;
  
  gap: 12px;
  flex: 1;
}

.feature-item img {
  width: 40px;
  height: 40px;
}

.feature-item h4 {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #000;
}

.feature-item p {
  margin: 4px 0 0;
  font-size: 13px;
  color: #777;
}

.feature-item i{
  color: #60ad56;
  font-size: 30px;
}


.shop-category {
  height: 250px;
  width: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Georgia", serif;
}

.shop-category h2 {
  font-size: 34px;
  font-weight: 700;
  margin: 0;
  color: #000;
}

.shop-category p {
  font-size: 14px;
  color: #666;
  margin: 15px 0 30px;
  font-family: Arial, sans-serif;
}

.shop-category .line {
  display: inline-block;
  width: 63px;
  height: 2px;
  background-color: #4CAF50;
}


.category-card-main{
  width: 100%;
  float: left;
  gap: 28px;
    display: flex;
}

.category-wrap {
  display: flex;
  gap: 30px;
  width: 100%;
  justify-content: center;
  margin-bottom: 60px;
 
}

.category-card {
  width: 220px;
}

.img-box {
  position: relative;
  border: 1px solid #eee;
  padding: 20px;
  overflow: hidden;
}

.img-box img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  transition: .4s;
}


.overlay {
  position: absolute;
  left: 0;
  bottom: -60px;
  width: 100%;
  height: 50px;
  background: #6bb35d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
}

.overlay span {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}


.cat-title{
  width: 100%;
  float: left;
  text-align: center;
  padding: 18px 0px;
}


.cat-title span{
  color: #000;
  font-weight: 700;
  font-size: 16px;
  
}

.img-box:hover .overlay {
  bottom: 0;
}


.category-card:hover .img-box  img{
  transform: scale(1.1) rotate(2deg);
  transition: .4s;
}